<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaowuyu.dao.OrderMapper">

    <!--新增一个Order-->
    <insert id="addOrder" parameterType="Orders">
        insert into graduation.orders(order_creat_time,order_totalPrice,order_remark)
        values (#{order_creat_time}, #{order_totalPrice}, #{order_remark})
    </insert>

    <!--更新Order信息-->
    <update id="updateOrderSend" parameterType="Orders">
        update graduation.orders
        set order_status = #{order_status}
        where order_id = #{order_id}
    </update>

    <!--更新Order信息-->
    <update id="updateOrderComplete" parameterType="Orders">
        update graduation.orders
        set order_status = #{order_status},order_complete_time = #{order_complete_time}
        where order_id = #{order_id}
    </update>

    <!--根据id删除一个Order-->
    <delete id="deleteOrderByOrder_id" parameterType="int">
        delete from graduation.orders
        where order_id=#{order_id}
    </delete>

    <!--根据id查询,返回一个Order-->
    <select id="queryOrderByOrder_id" resultType="Orders">
        select * from graduation.orders
        where order_id = #{order_id}
    </select>

    <!--查询全部Order-->
    <select id="queryAllOrder" resultType="Orders">
        SELECT * from graduation.orders
    </select>

    <!--查询一个User的全部Order-->
    <select id="queryAllUserOrder" resultType="Orders">
        SELECT * from graduation.orders
        where user_id=#{user_id}
    </select>

</mapper>